@charset "UTF-8";

<style>
body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1 {
    color: blueviolet;
    background-color: cornflowerblue;
}
h2 {
    color: darkgreen;
}
p {
    text-align: justify;
}
</style>